{
    "plugins": [
      "@babel/plugin-transform-runtime",
      [
        "module-resolver",
        {
          "alias": {
            "@middleware": "./src/middleware",
            "@root": "./src/app.js",
            "@router": "./src/router",
            "@src": "./src",
            "@utils": "./src/utils",
            "@database": "./src/database",
            "@services": "../src/services"
          }
        }
      ]
    ],
    "presets": ["@babel/preset-env"]
  }